# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
*.egg-info/

# Model & Data
outputs/
*.pkl
*.joblib
mlruns/
mlflow.db

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate*
*.tfvars

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
